<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'assetmanager/styles.css' %}">

    <title>Asset Manager</title>
</head>
<body>
    <div>
        <div>
            <ul>
                <li>아이콘</li>
                <li>assetmanger</li>
                <li>Home</li>
                <li>자산변동내역</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>회원가입</li>
                <li>로그인</li>
            </ul>
        </div>
    </div>
</body>
</html>