{% extends 'crud/base.html' %}

{% block content %}
    <h1>Delete -
        <small>{{ object }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div>
                  Are you sure to delete {{ object }} ?
                </div>
                <input type="submit" value="Yes, delete it" />
                <a href="{% url 'product_list' %}">No, just I've tried the delete button</a>
            </form>
        </div>
    </div>
{% endblock %}